.home .entry-title,
.category h1.entry-title,
.search h1.entry-title,
.author h1.entry-title,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover,
.btn-primary,
.post-inner-info,
.author-social,
.post-inner-license,
.author .list-social {
	background-color: #cc241d;
}

a:hover,
.second,
.navbar-brand:hover span:first-child,
#backtotop:hover span,
.trending-articles li.firstlink,
#secondary .widget > h3,
#reply-title,
.post-by-author h2 {
	color: #cc241d;
}
